button {
    border: none;
    background-color: papayawhip;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 350px;
    border-radius: 5px;
    font-family: 'Ranchers', cursive;
    color: black;
    font-size: 30px;
}